.form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 0 0 10px 0;
		&__title {
		}

		&__input {
            background-color: antiquewhite;
		}
        &__btn{
            
        }
}