.search {
    height: 100%;
    background-color: #4a79a0;
    padding: 5px;
    display: flex;
    align-items: center;
		&__input {
            height: 100%;
            background-color: #4a79a0;
            color: #bad5eb;
            &::placeholder{
                color: #bad5eb;
            }
		}
        &__btn {
            width: 20px;
            height: 20px;
            fill: #bad5eb;
            cursor: pointer;
        }
}

